In [1]:
import pandas as pd
import numpy as np
from IPython.display import clear_output

df = pd.read_csv('data/clean.csv')
display(df.shape)

(1548823, 15)

In [2]:
servers = sorted(['java', 'nodejs'])
databases = sorted(['nosql', 'sql'])
instances = sorted(['b1', 'b2', 'b4', 'b8'])

combinations = [(servers[0], databases[0]), (servers[1], databases[0]), (servers[0], databases[1]), (servers[1], databases[1])]
sizes = sorted(df['requestSize'].unique())
frequencies = sorted(df['frequency'].unique())

type_combinations = np.transpose([np.tile(sizes, len(frequencies)), np.repeat(frequencies, len(sizes))])

In [3]:
total_counts = 0
entries = []

for instance in instances:
    for type_combination in type_combinations:
        size, frequency = type_combination
        
        clear_output()
        display('{} {} {}'.format(instance, size, frequency))

        counts = []        

        for combination in combinations:
            server, database = combination    
            
            partial = df.loc[(df['instanceType'] == instance) & (df['serverType'] == server) & (df['databaseType'] == database) & (df['requestSize'] == size) & (df['frequency'] == frequency)]
            partial_n = partial.shape[0]
            
            if partial_n > 0:
                counts.append(partial_n)
                total_counts = total_counts + partial_n
        
        if len(counts) < 1:
            continue
        
        min_count = min(counts)
        
        for combination in combinations:
            server, database = combination                
            
            partial = df.loc[(df['instanceType'] == instance) & (df['serverType'] == server) & (df['databaseType'] == database) & (df['requestSize'] == size) & (df['frequency'] == frequency)]
            partial_n = partial.shape[0]
            
            if partial_n > 0 and min_count > 0:
                entries = entries + partial.tail(min_count).to_dict('records')

'b8 500.0 60.0'

1548823
636427

In [5]:
print(total_counts, len(entries))
new_df = pd.DataFrame(data=entries)
new_df.to_csv('data/normalized.csv', index=False)
new_df

1548823 636427

,id,databaseType,totalMem,timeRead,timeDelete,totalTime,timestamp,serverType,clientTotalTime,requestSize,frequency,instanceType,freeMem,timeWrite,memUsage
0,ACPPqr7Uh,nosql,2.147484e+09,117.0,101.0,470.0,1.585877e+12,java,601.0,1.0,1.0,b1,1.883013e+09,159.0,0.123154
1,fHKVs8SiC,nosql,2.147484e+09,46.0,146.0,477.0,1.585877e+12,java,617.0,1.0,1.0,b1,1.882862e+09,179.0,0.123224
2,L2V71vHyZ,nosql,2.147484e+09,33.0,72.0,421.0,1.585877e+12,java,550.0,1.0,1.0,b1,1.882726e+09,175.0,0.123287
3,ASaJPUMQk,nosql,2.147484e+09,47.0,79.0,442.0,1.585877e+12,java,578.0,1.0,1.0,b1,1.882567e+09,235.0,0.123362
4,0-o3JCBrZ,nosql,2.147484e+09,58.0,87.0,443.0,1.585877e+12,java,837.0,1.0,1.0,b1,1.882399e+09,179.0,0.123440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636422,7_XxkhmC-KQ,sql,2.147484e+09,12.0,31.0,207.0,1.586044e+12,nodejs,11201.0,200.0,60.0,b8,2.011587e+09,19.0,0.063282
636423,lCia0D9rat,sql,2.147484e+09,8.0,13.0,159.0,1.586044e+12,nodejs,11906.0,200.0,60.0,b8,2.011853e+09,27.0,0.063158
636424,WsWks4XY-F,sql,2.147484e+09,19.0,17.0,214.0,1.586044e+12,nodejs,12880.0,200.0,60.0,b8,2.012111e+09,45.0,0.063038
636425,Fa-JXYf7vdC,sql,2.147484e+09,35.0,34.0,285.0,1.586044e+12,nodejs,18758.0,200.0,60.0,b8,2.011386e+09,21.0,0.063375
636426,6qL7B0ocG0D,sql,2.147484e+09,8.0,8.0,188.0,1.586044e+12,nodejs,11893.0,200.0,60.0,b8,2.012238e+09,43.0,0.062979